In [6]:
import numpy as np
import pandas as pd

In [8]:
student_data = [
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,50,2]
]
pd.DataFrame(student_data, columns=['IQ', 'MARKS', 'PACKAGE'])

    IQ  MARKS  PACKAGE
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2