In [6]:
import numpy as np
import pandas as pd

In [8]:
student_data = [
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,50,2]
]
pd.DataFrame(student_data, columns=['IQ', 'MARKS', 'PACKAGE'])

    IQ  MARKS  PACKAGE
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [10]:
# using dict
students_data_2 = {
    'IQ': [100,80,10],
    'MARKS': [90,70,7],
    'PACKAGE': [120,100,14]
}
pd.DataFrame(students_data_2)

    IQ  MARKS  PACKAGE
0  100     90      120
1   80     70      100
2   10      7       14

In [21]:
movies = pd.read_csv("movies.csv")	
ipl = pd.read_csv("ipl-matches.csv").Team1Players

DataFrame attributes and Methods

In [28]:
# shape
movies.shape
ipl.shape

(950,)

In [29]:
# dtype
movies.dtypes

title_x                 str
imdb_id                 str
poster_path             str
wiki_link               str
title_y                 str
original_title          str
is_adult              int64
year_of_release       int64
runtime                 str
genres                  str
imdb_rating         float64
imdb_votes            int64
story                   str
summary                 str
tagline                 str
actors                  str
wins_nominations        str
release_date            str
dtype: object

In [34]:
# index
movies.index

RangeIndex(start=0, stop=1629, step=1)

In [ ]:
# fetch all cloumns (columns)
movies.columns

Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='str')

In [41]:
# values
movies.values
ipl.values

<StringArray>
[                   '['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal']',
          '['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'PWH de Silva', 'HV Patel', 'JR Hazlewood', 'Mohammed Siraj']',
          '['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'HV Patel', 'PWH de Silva', 'JR Hazlewood', 'Mohammed Siraj']',
                    '['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy']',
      '['PK Garg', 'Abhishek Sharma', 'RA Tripathi', 'AK Markram', 'N Pooran', 'Washington Sundar', 'R Shepherd', 'J Suchith', 'B Kumar', 'Umran Malik', 'Fazalhaq Farooqi']',
                                   '['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant', 'SN Khan', 'R Powell', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'KK Ahmed']',
           '['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagadeesan', 'AT Rayudu', 'MS Dhoni', 'MJ Santner', 'Simarjeet Singh', 'Mukesh Choudhary', 'PH Solanki', 'M Pathirana']',
               '['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami']',
                           '['Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda', 'M Vohra', 'MP Stoinis', 'JO Holder', 'K Gowtham', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi']',
 '['Abhishek Sharma', 'PK Garg', 'RA Tripathi', 'N Pooran', 'AK Markram', 'KS Williamson', 'Washington Sundar', 'B Kumar', 'Umran Malik', 'T Natarajan', 'Fazalhaq Farooqi']',
 ...
                     '['K Goel', 'IK Pathan', 'KC Sangakkara', 'Yuvraj Singh', 'RR Sarwan', 'DPMD Jayawardene', 'S Sohal', 'B Lee', 'PP Chawla', 'S Sreesanth', 'VRV Singh']',
                 '['AC Gilchrist', 'VVS Laxman', 'Shahid Afridi', 'A Symonds', 'RG Sharma', 'AS Yadav', 'SB Bangar', 'WPUJC Vaas', 'RP Singh', 'PP Ojha', 'D Kalyankrishna']',
                   '['PA Patel', 'ML Hayden', 'MEK Hussey', 'SK Raina', 'MS Dhoni', 'JDP Oram', 'S Badrinath', 'Joginder Sharma', 'P Amarnath', 'MS Gony', 'M Muralitharan']',
                 '['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxman', 'A Symonds', 'RG Sharma', 'Shahid Afridi', 'SB Bangar', 'AS Yadav', 'WPUJC Vaas', 'RP Singh', 'PP Ojha']',
                        '['M Kaif', 'Kamran Akmal', 'YK Pathan', 'SR Watson', 'DS Lehmann', 'RA Jadeja', 'Pankaj Singh', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'MM Patel']',
                      '['WP Saha', 'BB McCullum', 'RT Ponting', 'SC Ganguly', 'DJ Hussey', 'Mohammad Hafeez', 'LR Shukla', 'AB Agarkar', 'AB Dinda', 'M Kartik', 'I Sharma']',
                   '['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', 'RV Uthappa', 'PR Shah', 'AM Nayar', 'SM Pollock', 'Harbhajan Singh', 'MA Khote', 'A Nehra', 'DS Kulkarni']',
                            '['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwary', 'KD Karthik', 'R Bhatia', 'M Manhas', 'DL Vettori', 'MF Maharoof', 'B Geeves', 'GD McGrath']',
                            '['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvraj Singh', 'SM Katich', 'IK Pathan', 'P Dharmani', 'B Lee', 'PP Chawla', 'WA Mota', 'S Sreesanth']',
                                        '['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis', 'CL White', 'MV Boucher', 'B Akhil', 'AA Noffke', 'P Kumar', 'Z Khan', 'SB Joshi']']
Length: 950, dtype: str

In [46]:
# head and tail
movies.head()
movies.tail()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)