In [6]:
import numpy as np
import pandas as pd

In [8]:
student_data = [
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,50,2]
]
pd.DataFrame(student_data, columns=['IQ', 'MARKS', 'PACKAGE'])

    IQ  MARKS  PACKAGE
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [10]:
# using dict
students_data_2 = {
    'IQ': [100,80,10],
    'MARKS': [90,70,7],
    'PACKAGE': [120,100,14]
}
pd.DataFrame(students_data_2)

    IQ  MARKS  PACKAGE
0  100     90      120
1   80     70      100
2   10      7       14

In [21]:
movies = pd.read_csv("movies.csv")	
ipl = pd.read_csv("ipl-matches.csv").Team1Players

DataFrame attributes and Methods

In [28]:
# shape
movies.shape
ipl.shape

(950,)

In [29]:
# dtype
movies.dtypes

title_x                 str
imdb_id                 str
poster_path             str
wiki_link               str
title_y                 str
original_title          str
is_adult              int64
year_of_release       int64
runtime                 str
genres                  str
imdb_rating         float64
imdb_votes            int64
story                   str
summary                 str
tagline                 str
actors                  str
wins_nominations        str
release_date            str
dtype: object

In [34]:
# index
movies.index

RangeIndex(start=0, stop=1629, step=1)

In [ ]:
# fetch all cloumns (columns)
movies.columns

Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='str')

In [41]:
# values
movies.values
ipl.values

<StringArray>
[                   '['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal']',
          '['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'PWH de Silva', 'HV Patel', 'JR Hazlewood', 'Mohammed Siraj']',
          '['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'HV Patel', 'PWH de Silva', 'JR Hazlewood', 'Mohammed Siraj']',
                    '['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy']',
      '['PK Garg', 'Abhishek Sharma', 'RA Tripathi', 'AK Markram', 'N Pooran', 'Washington Sundar', 'R Shepherd', 'J Suchith', 'B Kumar', 'Umran Malik', 'Fazalhaq Farooqi']',
                                   '['PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant', 'SN Khan', 'R Powell', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'A Nortje', 'KK Ahmed']',
           '['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagadeesan', 'AT Rayudu', 'MS Dhoni', 'MJ Santner', 'Simarjeet Singh', 'Mukesh Choudhary', 'PH Solanki', 'M Pathirana']',
               '['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami']',
                           '['Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda', 'M Vohra', 'MP Stoinis', 'JO Holder', 'K Gowtham', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi']',
 '['Abhishek Sharma', 'PK Garg', 'RA Tripathi', 'N Pooran', 'AK Markram', 'KS Williamson', 'Washington Sundar', 'B Kumar', 'Umran Malik', 'T Natarajan', 'Fazalhaq Farooqi']',
 ...
                     '['K Goel', 'IK Pathan', 'KC Sangakkara', 'Yuvraj Singh', 'RR Sarwan', 'DPMD Jayawardene', 'S Sohal', 'B Lee', 'PP Chawla', 'S Sreesanth', 'VRV Singh']',
                 '['AC Gilchrist', 'VVS Laxman', 'Shahid Afridi', 'A Symonds', 'RG Sharma', 'AS Yadav', 'SB Bangar', 'WPUJC Vaas', 'RP Singh', 'PP Ojha', 'D Kalyankrishna']',
                   '['PA Patel', 'ML Hayden', 'MEK Hussey', 'SK Raina', 'MS Dhoni', 'JDP Oram', 'S Badrinath', 'Joginder Sharma', 'P Amarnath', 'MS Gony', 'M Muralitharan']',
                 '['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxman', 'A Symonds', 'RG Sharma', 'Shahid Afridi', 'SB Bangar', 'AS Yadav', 'WPUJC Vaas', 'RP Singh', 'PP Ojha']',
                        '['M Kaif', 'Kamran Akmal', 'YK Pathan', 'SR Watson', 'DS Lehmann', 'RA Jadeja', 'Pankaj Singh', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'MM Patel']',
                      '['WP Saha', 'BB McCullum', 'RT Ponting', 'SC Ganguly', 'DJ Hussey', 'Mohammad Hafeez', 'LR Shukla', 'AB Agarkar', 'AB Dinda', 'M Kartik', 'I Sharma']',
                   '['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', 'RV Uthappa', 'PR Shah', 'AM Nayar', 'SM Pollock', 'Harbhajan Singh', 'MA Khote', 'A Nehra', 'DS Kulkarni']',
                            '['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwary', 'KD Karthik', 'R Bhatia', 'M Manhas', 'DL Vettori', 'MF Maharoof', 'B Geeves', 'GD McGrath']',
                            '['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvraj Singh', 'SM Katich', 'IK Pathan', 'P Dharmani', 'B Lee', 'PP Chawla', 'WA Mota', 'S Sreesanth']',
                                        '['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis', 'CL White', 'MV Boucher', 'B Akhil', 'AA Noffke', 'P Kumar', 'Z Khan', 'SB Joshi']']
Length: 950, dtype: str

In [49]:
# head and tail
movies.head()
movies.tail()
movies.sample(5)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
210,Munna Michael,tt6117702,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Munna_Michael,Munna Michael,Munna Michael,0,2017,140,Action|Drama|Music,3.4,2396,Michael is an aging dancer in films is fired f...,A young man tries to follow the footsteps of ...,NaN,Tiger Shroff|Nidhhi Agerwal|Nawazuddin Siddiqui|,1 win & 1 nomination,21 July 2017 (USA)
95,3 Storeys,tt4552546,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/3_Storeys,3 Storeys,3 Storeys,0,2018,100,Drama,7.1,288,3 Storeys is an intriguing film full of twists...,3 Storeys is an intriguing film full of twists...,NaN,Aisha Ahmed|Tarun Anand|Richa Chadha|Gopal Das...,NaN,9 March 2018 (USA)
130,Gali Guleiyan,tt2302416,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gali_Guleiyan,In the Shadows,Gali Guleiyan,0,2017,117,Drama|Thriller,7.1,314,In the walled city of Old Delhi KHUDDOOS a l...,The film is a psychological drama about a man ...,NaN,Manoj Bajpayee|Ranvir Shorey|Neeraj Kabi|Shaha...,2 wins & 10 nominations,7 September 2018 (India)
1358,Krishna Cottage,tt0408976,https://upload.wikimedia.org/wikipedia/en/a/a0...,https://en.wikipedia.org/wiki/Krishna_Cottage,Krishna Cottage,Krishna Cottage,0,2004,124,Horror|Mystery,5.1,815,During the year 1990 Professor-Author Siddhart...,A group of collegians are forced to take shelt...,NaN,Sohail Khan|Isha Koppikar|Anita Hassanandani R...,NaN,2 April 2004 (India)
838,Na Ghar Ke Na Ghaat Ke,tt1620907,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Na_Ghar_Ke_Na_Gh...,Na Ghar Ke Na Ghaat Ke,Na Ghar Ke Na Ghaat Ke,0,2010,\N,Comedy|Drama,6.2,258,Based in Pallanhar Uttar Pradesh Devkinandan...,A naive villager faces challenges when he gets...,NaN,Om Puri|Paresh Rawal|Neena Gupta|Ravi Kishan|R...,NaN,NaN

In [53]:
# info
movies.info()
ipl.info()

<class 'pandas.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   str
 1   imdb_id           1629 non-null   str
 2   poster_path       1526 non-null   str
 3   wiki_link         1629 non-null   str
 4   title_y           1629 non-null   str
 5   original_title    1629 non-null   str
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   str
 9   genres            1629 non-null   str
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   str
 13  summary           1629 non-null   str
 14  tagline           557 non-null    str
 15  actors            1624 non-null   str
 16  wins_nominations  707 non-null    str
 17  release_date      1522 non-null   str
dtypes: float64(1), int64(3), str(14)
memory usage: 229.2 KB
<class 'pandas.Series'>
RangeIndex: 950 entries, 0 to 949
Series name: Team1Players
Non-Null Count  Dtype
--------------  -----
950 non-null    str
dtypes: str(1)
memory usage: 7.6 KB

In [59]:
# describe
ipl.describe()
movies.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

In [73]:

# isnull
movies.isnull()
ipl.isnull()
movies.isnull()
# movies.isnull().sum()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
4,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
1625,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
1626,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True
1627,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
1628,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False

In [74]:
# duplicated
movies.duplicated()
movies.duplicated().sum()

np.int64(0)

In [75]:
# rename
movies.rename

<bound method DataFrame.rename of                                    title_x     imdb_id  \
0                 Uri: The Surgical Strike   tt8291224
1                            Battalion 609   tt9472208
2     The Accidental Prime Minister (film)   tt6986710
3                          Why Cheat India   tt8108208
4                          Evening Shadows   tt6028796
...                                    ...         ...
1624                 Tera Mera Saath Rahen   tt0301250
1625                  Yeh Zindagi Ka Safar   tt0298607
1626                       Sabse Bada Sukh   tt0069204
1627                                 Daaka  tt10833860
1628                              Humsafar   tt2403201

                                            poster_path  \
0     https://upload.wikimedia.org/wikipedia/en/thum...
1                                                   NaN
2     https://upload.wikimedia.org/wikipedia/en/thum...
3     https://upload.wikimedia.org/wikipedia/en/thum...
4                                                   NaN
...                                                 ...
1624  https://upload.wikimedia.org/wikipedia/en/2/2b...
1625  https://upload.wikimedia.org/wikipedia/en/thum...
1626                                                NaN
1627  https://upload.wikimedia.org/wikipedia/en/thum...
1628  https://upload.wikimedia.org/wikipedia/en/thum...

                                              wiki_link  \
0     https://en.wikipedia.org/wiki/Uri:_The_Surgica...
1           https://en.wikipedia.org/wiki/Battalion_609
2     https://en.wikipedia.org/wiki/The_Accidental_P...
3         https://en.wikipedia.org/wiki/Why_Cheat_India
4         https://en.wikipedia.org/wiki/Evening_Shadows
...                                                 ...
1624  https://en.wikipedia.org/wiki/Tera_Mera_Saath_...
1625  https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...
1626      https://en.wikipedia.org/wiki/Sabse_Bada_Sukh
1627                https://en.wikipedia.org/wiki/Daaka
1628             https://en.wikipedia.org/wiki/Humsafar

                            title_y                 original_title  is_adult  \
0          Uri: The Surgical Strike       Uri: The Surgical Strike         0
1                     Battalion 609                  Battalion 609         0
2     The Accidental Prime Minister  The Accidental Prime Minister         0
3                   Why Cheat India                Why Cheat India         0
4                   Evening Shadows                Evening Shadows         0
...                             ...                            ...       ...
1624          Tera Mera Saath Rahen          Tera Mera Saath Rahen         0
1625           Yeh Zindagi Ka Safar           Yeh Zindagi Ka Safar         0
1626                Sabse Bada Sukh                Sabse Bada Sukh         0
1627                          Daaka                          Daaka         0
1628                       Humsafar                       Humsafar         0

      year_of_release runtime            genres  imdb_rating  imdb_votes  \
0                2019     138  Action|Drama|War          8.4       35112
1                2019     131               War          4.1          73
2                2019     112   Biography|Drama          6.1        5549
3                2019     121       Crime|Drama          6.0        1891
4                2018     102             Drama          7.3         280
...               ...     ...               ...          ...         ...
1624             2001     148             Drama          4.9         278
1625             2001     146             Drama          3.0         133
1626             2018      \N      Comedy|Drama          6.1          13
1627             2019     136            Action          7.4          38
1628             2011      35     Drama|Romance          9.0        2968

                                                  story  \
0     Divided over five chapters  the film chronicle...
1     The story revolves around a cricket match betw...
2     Based on the memoir by Indian policy analyst S...
3     The movie focuses on existing malpractices in ...
4     While gay rights and marriage equality has bee...
...                                                 ...
1624  Raj Dixit lives with his younger brother  Rahu...
1625  Hindi pop-star  Sarina Devan  lives a wealthy ...
1626  Village born Lalloo re-locates to Bombay  and ...
1627  Shinda tries robbing a bank so he can be wealt...
1628  Sara and Ashar are childhood friends who share...

                                                summary tagline  \
0     Indian army special forces execute a covert op...     NaN
1     The story of Battalion 609 revolves around a c...     NaN
2     Explores Manmohan Singh's tenure as the Prime ...     NaN
3     The movie focuses on existing malpractices in ...     NaN
4     Under the 'Evening Shadows'  truth often plays...     NaN
...                                                 ...     ...
1624  A man is torn between his handicapped brother ...     NaN
1625  A singer finds out she was adopted when the ed...     NaN
1626  Village born Lalloo re-locates to Bombay  and ...     NaN
1627  Shinda tries robbing a bank so he can be wealt...     NaN
1628  Ashar and Khirad are forced to get married due...     NaN

                                                 actors  \
0     Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
1     Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...
2     Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...
3     Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...
4     Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...
...                                                 ...
1624  Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...
1625  Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...
1626  Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...
1627                          Gippy Grewal|Zareen Khan|
1628                                        Fawad Khan|

            wins_nominations              release_date
0                     4 wins     11 January 2019 (USA)
1                        NaN   11 January 2019 (India)
2                        NaN     11 January 2019 (USA)
3                        NaN     18 January 2019 (USA)
4     17 wins & 1 nomination   11 January 2019 (India)
...                      ...                       ...
1624                     NaN   7 November 2001 (India)
1625                     NaN  16 November 2001 (India)
1626                     NaN                       NaN
1627                     NaN     1 November 2019 (USA)
1628                     NaN     TV Series (2011–2012)

[1629 rows x 18 columns]>