In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
temp = pd.Series([10 , 11 , 132 , 14 , 15 , 16 , 17 , 18 , 19 , 20])
def sigmoid(x): 
    return 1 / (1 + np.exp(-x))
temp_sigmoid = sigmoid(temp)
temp_sigmoid

0    0.999955
1    0.999983
2    1.000000
3    0.999999
4    1.000000
5    1.000000
6    1.000000
7    1.000000
8    1.000000
9    1.000000
dtype: float64

In [5]:
data = pd.Series([12 , 13 , 14 , 15 , 16 , 17 , 18 , 19 , 20])

def area_circle(r):
    return np.pi * r * r;

areas = area_circle(data)
areas

0     452.389342
1     530.929158
2     615.752160
3     706.858347
4     804.247719
5     907.920277
6    1017.876020
7    1134.114948
8    1256.637061
dtype: float64

In [9]:
data2 = pd.Series([12 , 13 , 14 , 15 , 16 , 17 , 18 , 19 , 20]).apply(lambda x: x % 2 == 0)
data2

0     True
1    False
2     True
3    False
4     True
5    False
6     True
7    False
8     True
dtype: bool

In [10]:
data3 = pd.Series([12 , 13 , 14 , 15 , 16 , 17 , 18 , 19 , 20]).apply(lambda val: 1 / (1 + np.exp(-val)))
data3

0    0.999994
1    0.999998
2    0.999999
3    1.000000
4    1.000000
5    1.000000
6    1.000000
7    1.000000
8    1.000000
dtype: float64

In [11]:
data_points = pd.DataFrame(
    {
        '1st point': [(1 , 2) , (3 , 4) , (5 , 6) , (7 , 8)],
        '2nd point': [(9 , 10) , (11 , 12) , (13 , 14) , (15 , 16)]
    }
)
data_points

  1st point 2nd point
0    (1, 2)   (9, 10)
1    (3, 4)  (11, 12)
2    (5, 6)  (13, 14)
3    (7, 8)  (15, 16)

In [15]:
def euclidean_distance(row):
    A = row['1st point']
    B = row['2nd point']
    return ((A[0] - B[0]) ** 2 + (A[1] - B[1]) ** 2)**0.5
data_points['distance'] = data_points.apply(euclidean_distance , axis = 1)
data_points

  1st point 2nd point   distance
0    (1, 2)   (9, 10)  11.313708
1    (3, 4)  (11, 12)  11.313708
2    (5, 6)  (13, 14)  11.313708
3    (7, 8)  (15, 16)  11.313708