In [ ]:
import numpy as np
import pandas as pd

In [ ]:
A = np.arange(12, 36).reshape(4, 6)
A

array([[12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [ ]:
country = ["india", "pakistan", "usa", "china", "srilanka"]
# pd.Series(country)

runs = [10 , 63 , 88 , 92 , 100]
pd.Series(runs)

10     Runs
63     Runs
88     Runs
92     Runs
100    Runs
dtype: str

In [ ]:
subjects = ["English", "math", "science", "cs", "geography"]
marks = [39 , 44, 73 , 92 , 84]
pd.Series(marks, index=subjects)

English      39
math         44
science      73
cs           92
geography    84
dtype: int64

In [34]:
# setting a name of a series
subjects = ["English", "math", "science", "cs", "geography"]
marks = [39 , 44, 73 , 92 , 84]
pd.Series(marks, index=subjects, name="HILAL")

English      39
math         44
science      73
cs           92
geography    84
Name: HILAL, dtype: int64

In [37]:
# Disctionary
marks = {
    "math": 77,
    "science": 56,
    "CS": 99,
    "Urdu": 78
}
marks_ser = pd.Series(marks, name="X")
marks_ser

math       77
science    56
CS         99
Urdu       78
Name: X, dtype: int64